@charset "utf-8";

body {
  font-family: Arial, Meiryo, sans-serif;
  font-weight: 400;
}

.pad-top {
  height: 4em;
}

.btn {
  font-size: 120%;
  padding: 0.6em;
}

.noshow {
  display: none;
}

.text-lg {
  font-size: large;
}

.text-right-xl {
  font-size: x-large;
  text-align: right;
}

.highlighted {
  background-color: lightpink;
}

li {
  list-style: none;
}

/* Animation is not supported on IE9 or older. */
@keyframes added {
  from {
    background-color: lightskyblue;
  }

  to {
    background-color: white;
  }
}

.product-item {
  animation-name: added;
  animation-duration: 0.75s;
  animation-timing-function: linear;
  opacity: 1;
}
