@charset "utf-8";

.pad-top {
  height: 4rem;
}

.btn {
  font-size: 120%;
  padding: 0.6rem;
}

.noshow {
  display: none;
}

.text-lg {
  font-size: large;
}

.text-right-xl {
  font-size: x-large;
  text-align: right;
}

.highlighted {
  background-color: lightpink;
}

@keyframes added {
  from {
    background-color: lightskyblue;
  }

  to {
    background-color: white;
  }
}

.product-item {
  animation-name: added;
  animation-duration: .75s;
  animation-timing-function: linear;
  opacity: 1;
}